@import "src/assets/style/scss/variables.scss";

.Home {
  margin-top: 45px;
}

.Home-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  height: auto;
  padding: 0;
  background-color: #0000;
  border-radius: 25px;
  margin-bottom: 50px;
  @media (min-width: $breakpoint-tablet) {
    background-color: $grey-light;
    padding: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ul-gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
