@import "src/assets/style/scss/variables.scss";

.Home {
  margin-top: 45px;
}

.Home-header {
  height: auto;
  padding: 0;
  background-color: #0000;
  border-radius: 25px;
  @media (min-width: $breakpoint-tablet) {
    background-color: $grey-light;
    padding: 1.5rem;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ul-gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
