@import "src/assets/style/scss/variables";


.collapse-block {
  margin: 28px 0;
}

.collapse {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: $primary;
  border-radius: 5px;
  padding: 8px 20px;
  color: $white;
  cursor: pointer;
}

.collapse-header {
  margin: 0;
  font-weight: 400
}

.collapse-hidden {
  background-color: $grey-light;
  color: $primary;
  padding: 6px 20px 2px 20px;
  border-radius: 10px;
}

.collapse-hidden.is-close {
  display: none;
}