@import "variables";

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 94%;
  @media (min-width: $breakpoint-small) {
    width: 84%;
    max-width: 1310px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}