// ========
// COLORS
// ========
$white: #fff;
$black: #000;
$primary: #FF6060;
$grey-light: #c7bebe;
// ====================================
// BREAKPOINTS AND CONTAINERS MAX-WIDTH
// ====================================
$breakpoint-small: 480px;
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1280px;