@import "src/assets/style/scss/variables.scss";

.container-not-found {
  color: $primary;
  text-align: center;
}

.big-error {
  font-size: 197px;
  margin: 23px 0;
}

.link-to {
  color: $primary;
}